<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.login.SocialLoginCompleteActivity"
            android:exported="false"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.login.LoginWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.feed.StudyApplyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mystudy.AddTodoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mystudy.MemberStudySettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mystudy.CaptainStudySettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mystudy.CommentActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.mystudy.ToDoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.mystudy.MyStudyMainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.home.MainHomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.profile.MyCommitActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.profile.ProfileEditActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.login.InputNicknameActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.login.InputIdActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.login.PopupAgreementActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.login.SubLoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>