<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.login.InputNameActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.InputIdActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.AgreementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.SubLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="false" />
    </application>

</manifest>